html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: transparent;
}

.ellipsis {
  lines: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 美化滚动条 */
::-webkit-scrollbar {
  width: 6px;
  /* height: 10px; */
}

::-webkit-scrollbar-track {
  /* width: 6px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em; */
}

::-webkit-scrollbar-thumb {
  background: #0002;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #0003;
}
